<div class="card-container">

    <div class="card">
        <ul>
            <li>{{movieTitle}}</li>
            <li>{{year}}</li>
            <li><img [src]="posterUrl" width="100" /></li>
        </ul>
        <ul>
            <li><span style="font-weight: bold;" *ngIf="selectedMovie === movieTitle">Selected!</span></li>
            <li>
                <app-flop-vote [selectedMovie]="selectedMovie" [movieTitle]="movieTitle" (voted)="onVoted($event)">
                </app-flop-vote>
            </li>
        </ul>
    </div>
</div>