<div class="card-container">

    <div class="card">
        <ul>
            <li>{{title}}</li>
            <li>{{year}}</li>
            <li><img [src]="posterUrl" width="100" /></li>
        </ul>
        <ul>
            <li><span style="font-weight: bold;" *ngIf="selectedMovie === title">Selected!</span></li>
            <li><button (click)="vote(title)" [disabled]="selectedMovie && !(selectedMovie === title)">
                    {{selectedMovie === title ? "Unvote" : "Vote"}}
                </button></li>
        </ul>
    </div>
</div>